In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import RidgeClassifier
from sklearn.metrics import f1_score

In [54]:
train_df = pd.read_csv('train_set.csv.xls', sep = '\t', nrows = 15000)
train_df.head()

   label                                               text
0      2  2967 6758 339 2021 1854 3731 4109 3792 4149 15...
1     11  4464 486 6352 5619 2465 4802 1452 3137 5778 54...
2      3  7346 4068 5074 3747 5681 6093 1777 2226 7354 6...
3      2  7159 948 4866 2109 5520 2490 211 3956 5520 549...
4      3  3646 3055 3055 2490 4659 6065 3370 5814 2465 5...

In [55]:
train_df.tail()

       label                                               text
14995      5  1822 6040 5744 5310 4578 4407 6242 2313 3466 2...
14996      9  88 7400 7539 4516 6122 290 6831 465 1647 6293 ...
14997      0  2597 7160 2282 1407 4403 4516 2873 4597 7037 5...
14998      0  2400 4411 4721 3289 5787 5096 4464 6250 1324 6...
14999      8  4188 5778 5296 5640 2835 648 6122 2489 2923 39...

In [56]:
vectorizer = CountVectorizer(max_features = 1000)
train = vectorizer.fit_transform(train_df['text'])
print(train)

  (0, 275)	6
  (0, 141)	2
  (0, 113)	1
  (0, 400)	10
  (0, 449)	12
  (0, 410)	7
  (0, 460)	3
  (0, 69)	7
  (0, 144)	2
  (0, 425)	2
  (0, 209)	2
  (0, 200)	7
  (0, 21)	5
  (0, 836)	5
  (0, 964)	4
  (0, 237)	2
  (0, 206)	2
  (0, 569)	11
  (0, 36)	2
  (0, 151)	4
  (0, 669)	2
  (0, 902)	1
  (0, 759)	1
  (0, 382)	1
  (0, 367)	2
  :	:
  (14999, 373)	16
  (14999, 577)	10
  (14999, 161)	4
  (14999, 907)	4
  (14999, 621)	14
  (14999, 447)	6
  (14999, 885)	1
  (14999, 581)	1
  (14999, 231)	1
  (14999, 299)	1
  (14999, 278)	2
  (14999, 451)	1
  (14999, 211)	1
  (14999, 292)	1
  (14999, 80)	3
  (14999, 67)	1
  (14999, 139)	4
  (14999, 263)	9
  (14999, 357)	6
  (14999, 376)	1
  (14999, 39)	1
  (14999, 363)	1
  (14999, 489)	1
  (14999, 346)	1
  (14999, 828)	1

In [57]:
clf = RidgeClassifier()
clf.fit(train[:10000], train_df['label'].values[:10000])

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [58]:
val_pred = clf.predict(train[10000:])
print(f1_score(train_df['label'].values[10000:], val_pred, average='macro'))

0.7391238887456859

## TF-IDF + RidgeClassifier

In [59]:
import pandas as pd 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import RidgeClassifier
from sklearn.metrics import f1_score

In [60]:
train_df = pd.read_csv('train_set.csv.xls', sep = '\t', nrows = 15000)
vectorizer1 = TfidfVectorizer(ngram_range = (1,3),max_features = 1000)
train = vectorizer1.fit_transform(train_df['text'])

In [63]:
clf1 = RidgeClassifier()
clf1.fit(train[:10000], train_df['label'][:10000])

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [64]:
val_pred = clf1.predict(train[10000:])
print(f1_score(train_df['label'][10000:], val_pred, average = 'macro'))

0.8270776630718544